.light_slider {
  display: flex;
  justify-content: center;
  position: relative;
}
.light_slider .sliders_window {
  overflow: hidden;
}
.light_slider .sliders_window .sliders_wrapper {
  display: flex;
  transition: 0.5s;
}
.light_slider .sliders_window .sliders_wrapper .one_slide {
  padding: 0 10px;
}
.light_slider .sliders_window .sliders_wrapper .one_slide img {
  width: 100%;
  height: 100%;
}
.light_slider .nav_block {
  position: absolute;
  bottom: -70px;
}
.light_slider .nav_block .btn {
  cursor: pointer;
}
.light_slider .dot_block {
  position: absolute;
  display: flex;
  bottom: -35px;
}
.light_slider .dot_block .dot_item {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid grey;
  margin: 5px;
  box-shadow: 0px 0px 6px 1px grey;
  cursor: pointer;
}
.light_slider .dot_block .dot_item:active {
  background-color: tomato;
}
