@font-face {
  font-family: 'StarWarsFont';
  src: url(../fonts/DeathStar-VmWB.ttf);
}
body {
  background-image: url(../img/darth_vader.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  font-family: 'StarWarsFont';
  color: gold;
  .users_block {
    padding: 30px 90px;
    table {
      border-collapse: collapse;
      td {
        border: 5px outset grey;
        padding: 5px 10px;
        text-transform: capitalize;
      }
      .number_td {
        text-align: center;
      }
      .planet_td {
        font-family: sans-serif;
        font-weight: bolder;
        padding-left: 20px;
        color: gray;
        border: none;
        cursor: pointer;
      }
      .planet_td:hover {
        text-decoration: underline;
        transition: 1.5s;
        transform: translateX(20px);
        color: red;
      }
    }
  }
  .planet_modal {
    position: absolute;
    color: gold;
    border: 5px solid red;
    border-radius: 1%;
    display: flex;
    top: 145px;
    right: 180px;
    td {
      padding: 20px 30px;
      text-align: center;
      border-left: 5px solid red;
    }
    .close_btn {
      padding: 5px 10px 0px 0px;
      cursor: pointer;
    }
  }
}
